 .banner .swiper {
    width: 240px;
    height: 320px;
  }
  
 .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
 .banner .swiper-slide:nth-child(1n) {
    background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/dreamy-sunflower-girl-yellow-book-cover-templ-design-template-7af3b28f2b5888bab43c923db87aebe0.webp?ts=1698544004');
}

.banner .swiper-slide:nth-child(2n) {
     background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/intriguing-thriller-book-cover-design-template-3d1c88f0ad32678f487a32f8c778c3b1.webp?ts=1698537791');
     
    }
    
    .banner .swiper-slide:nth-child(3n) {
      background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/self-help-kindle-book-cover-design-template-566375e2a5b437d9712471838b31457d.webp?ts=1698303928');
      
    }
    
    .banner .swiper-slide:nth-child(4n) {
      background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/motivational-quote-pink-white-black-poster-design-template-9d2fac18d4c11ddeb71a7bfad849eafa.webp?ts=1698303863');
      
    }
    
    .banner .swiper-slide:nth-child(5n) {
      background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/joke-comedy-laughter-book-design-cover-template-59d92c7420fb6e28089ff3990f8ad6ad.webp?ts=1704904231');
      
    }
    
    .banner .swiper-slide:nth-child(6n) {
      background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/the-creative-brain-book-cover-design-template-fb92f683bfdce662fd00711186c1fa38.webp?ts=1698537016');
  }
  
