 .banner .swiper {
    width: 240px;
    height: 320px;
  }
  
 .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
 .banner .swiper-slide:nth-child(1n) {
    background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/dreamy-sunflower-girl-yellow-book-cover-templ-design-template-7af3b28f2b5888bab43c923db87aebe0.webp?ts=1698544004');
}

.banner .swiper-slide:nth-child(2n) {
     background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/cookbook-cover-template-design-20457a93aa7f163c4975e96713a90a33.webp?ts=1698543461');
     
    }
    
    .banner .swiper-slide:nth-child(3n) {
      background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/teen-adventure-book-cover-template-design-811a568435252278fe82780389481510.webp?ts=1698537020');
      
    }
    
    .banner .swiper-slide:nth-child(4n) {
      background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/lit-fiction-book-cover-design-template-c173528f4a95c07cc64c57dc2c9206fc.webp?ts=1698543789');
      
    }
    
    .banner .swiper-slide:nth-child(5n) {
      background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/joke-comedy-laughter-book-design-cover-template-59d92c7420fb6e28089ff3990f8ad6ad.webp?ts=1704904231');
      
    }
    
    .banner .swiper-slide:nth-child(6n) {
      background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/the-creative-brain-book-cover-design-template-fb92f683bfdce662fd00711186c1fa38.webp?ts=1698537016');
  }
  
